/* .dashboard {
  padding: 20px;
}

.scrollable-container {
  overflow-x: auto;
}

.headings,
.player-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
  font-size: 14px;
  min-width: 2400px;
}

.headings {
  font-weight: bold;
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 2px solid #ddd;
}

.player-row {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.player-row:hover {
  background-color: #f0f0f0;
}

.player-summary {
  display: contents;
}

.player-details {
  grid-column: span 16;
  padding-top: 10px;
  border-top: 1px solid #ddd;
  margin-top: 10px;
  background-color: #f9f9f9;
}

.player-details p {
  margin: 0;
  font-size: 14px;
} */

.dashboard {
  padding: 10px;
}

.scroll-container {
  overflow-x: auto;
}

.headings,
.player-row {
  display: grid;
  grid-template-columns: repeat(16, minmax(40px, 1fr));
  font-size: 14px;
  min-width: 2400px;
}

.headings {
  font-weight: bold;
  padding-bottom: 3px;
  border-bottom: 2px solid #ddd;
}

.player-row {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.player-row:hover {
  background-color: #f0f0f0;
}

.player-summary {
  display: contents;
}

.player-details {
  grid-column: span 16; /* Matches the number of columns in grid-template-columns */
  padding-top: 10px;
  border-top: 1px solid #ddd;
  background-color: #f9f9f9;
}
